.Feed_Container {
    width: 100%;
    min-height: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
}

.Feed {
    width: 90%;
    border-top: 1px solid black;
    border-radius: 30px;
    min-height: fit-content;
    height: auto;
    border: 0.1px solid black;
    margin-top: 20px;
}

.Feed_Footer {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.Feed_Footer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateX(-30px);
    margin-left: 5px;
    margin-right: 5px;
}

.Feed_Footer button svg {
    font-size: 15px;
}

.Feed_Footer p {
    transform: translateX(-40px);
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.Feed_Filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: fit-content;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.Feed_Filter select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: black;
    font-weight: 400;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.Feed_Filter select option {
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.Feed_Filter input {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: 0.1px solid black;
    width: 100px;
}

.Feed_Filter input::placeholder {
    font-size: 12px;
}

.Feed_Filter .Unselected {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: 0.1px solid black;
    background-color: transparent;
    cursor: pointer;
}

.Feed_Filter .Unselected:hover {
    color: white;
    background-color: black;
}

.Feed_Filter .Selected {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: 0.1px solid black;
    background-color: black;
    cursor: pointer;
    color: white;
}


.Feed_Headers {
    display: flex;
    border-bottom: 0.1px solid black;
    border-top: 0.1px solid black;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.Feed_Headers p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 100px;
}

.Feed_Card {
    width: 100%;
    height: 60px;
    border-bottom: 0.1px solid black;
    display: flex;
    justify-content: space-around;
}

.Feed_Card .Feed_Card_Container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Feed_Card .Feed_Card_Container p,
.Feed_Card .Feed_Card_Container button {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Feed_Card .Feed_Card_Container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Viewer {
    height: 90vh;
    width: 100%;
    border-bottom: 0.1px solid black;
    transform: translateX(-7.5px);
}

.About {
    width: 100%;
    transform: translateX(-7.5px);
    display: flex;
    justify-content: center;
}

.About p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
}

.Thread {
    min-height: fit-content;
    height: auto;
    width: 100%;
    transform: translateX(-7.5px);
}

.Thread h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.Exit_Note {
    position: fixed;
    transform: translate(25px, 25px);
    border: none;
    background-color: white;
    z-index: 5;
    height: 25px;
    border-radius: 25px;
}

.Exit_Note_Button {
    border-radius: 20px;
    border: 0.1px solid white;
    transition: 1s;
    font-size: 25px;
    cursor: pointer;
}

.Input_Comment_Outer_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 150px;
}

.Input_Comment {
    width: 60%;
    min-height: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
}

.Input_Comment textarea {
    width: calc(100% - 20px);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border: 0.1px solid black;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    resize: none;
}
.Input_Comment button {
    width: 10%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    height: 30px;
    top: 100px;
    width: 30px;
    left: calc(100% - 20px);
    border: 0.1px solid black;
    cursor: pointer;
    z-index: 5;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 0 0 black inset;
    transition: 0.25s;
}

.Submit_Reply_2:hover,
.Input_Comment button:hover {
    background-color: black;
    color: white;
    box-shadow: 70px 0 0 black inset;
}

.Comments {
    width: 60%;
    min-height: fit-content;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Comment {
    min-height: fit-content;
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Reply {
    min-height: fit-content;
    height: auto;
    width: 88%;
    border-left: 0.1px solid gray;
    display: flex;
    margin-left: 10%;
    padding-left: 1%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Comment_Image_Container {
    width: 70px;
    height: 50px;
    padding-top: 2.5px;
}

.Comment_Image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0.1px solid black;
}

.Comment_Text {
    width: calc(100% - 70px);
}

.Comment p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.Header {
    padding-top: 5px;
    padding-bottom: 2.5px;
    display: flex;
    align-items: center;
}

.Header p {
    font-size: 17.5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.User_Comment {
    padding-top: 2.5px;
    padding-bottom: 5px;
}

.User_Comment p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.Reply_Button button {
    background-color: white;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.Reply_Text_2,
.Reply_Text {
    width: 80%;
    border-radius: 20px;
    border: 0.1px solid black;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    resize: none;
    margin-left: 10%;
}

.Reply_Text_2 {
    margin-top: 20px;
}

.Submit_Reply_2 {
    border-radius: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    border: 0.1px solid black;
    cursor: pointer;
    z-index: 5;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 0 0 black inset;
    transition: 0.25s;
    margin-left: 100%;
    transform: translate(-70px, -45px);
}