.Create_Note {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Create_Note_Form {
    width: 27.5%;
    height: 100%;
    border-right: 0.1px solid black;
    border-bottom-right-radius: 40px;
}

.Create_Note_Form p {
    margin-top: 10vh;
    text-align: center;
    font-size: 70px;
}

.Create_Note_Form label,
.Create_Note_Form input,
.Create_Note_Form button {
    display: block;
    margin: 0 auto;
}

.Create_Note_Form input,
.Create_Note_Form input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 20px;
    border-radius: 20px;
    margin-top: 15px;
    width: 60%;
    font-size: 17.5px;
    border: 0.1px solid black;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.Create_Note_Form label,
.Create_Note_Form button,
.Create_Note_Form button  {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid black;
    box-shadow: 0 0 0 black;
    transition: 1s;
}

.Create_Note_Form input[type='file'] {
    display: none;
}

.Create_Note_Form label {
    cursor: pointer;
    text-align: center;
    width: 100px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.Create_Note_Form label:hover,
.Create_Note_Form button:hover,
.Create_Note_Form button:hover {
    box-shadow: 5px 5px 0 black;
}

.Create_Note_Viewer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Create_Note_Viewer embed {
    height: 90%;
    width: 90%;
}